<h1>Get started by clicking the first button below!</h1>
<button id="questionCreate">Add Question</button>
<form id="createSurvey" method="POST">
    <input type="hidden" name="displayName" value = "<%=displayName%>">
    <div class="form-group questionField" id="">
        <label for="nameTextField">Survey Title:</label>
        <input type="text" class="form-control"
        id="nameTextField"
        placeholder="Enter survey title"
        name="title">
    </div>

    <div class="form-group" id="">
        <label for="nameTextField">Date of Activation:</label>
        <input type="date" class="form-control"
        id="active"
        name="activeDate">
    </div>
    
    <div class="form-group" id="">
        <label for="nameTextField">Date of Expiry:</label>
        <input type="date" class="form-control"
        id="expire"
        name="expiryDate">
    </div>

    <div class="form-group questionField" id="questiononeDiv">
        <label for="nameTextField">First Question:</label>
        <input type="text" class="form-control"
        id="nameTextField"
        placeholder="Enter your first question"
        name="ques1">
        <button type="button" id="one" class="addOptions">Add New Option</button>
        <div id="options1">

        </div>
        <br>
        <input id="optionList1" name="list1" type="text">
    </div>
    <br><br>
    <div class="form-group questionField" id="questiontwoDiv">
        <label for="nameTextField">Second Question:</label>
        <input type="text" class="form-control"
        id="nameTextField"
        placeholder="Enter your first question"
        name="ques2">
        <button type="button" id="two" class="addOptions">Add New Option</button>
        <div id="options2">
            
        </div>
        <br>
        <input id="optionList2" name="list2" type="text">
    </div>
    <br><br>
    <div class="form-group questionField" id="questionthreeDiv">
        <label for="nameTextField">Third Question:</label>
        <input type="text" class="form-control"
        id="nameTextField"
        placeholder="Enter your first question"
        name="ques3">
        <button type="button" id="three" class="addOptions">Add New Option</button>
        <div id="options3">
            
        </div>
        <br>
        <input id="optionList3" name="list3" type="text">
    </div>
    <br><br>
    <div class="form-group questionField" id="questionfourDiv">
        <label for="nameTextField">Fourth Question:</label>
        <input type="text" class="form-control"
        id="nameTextField"
        placeholder="Enter your first question"
        name="ques4">
        <button type="button" id="four" class="addOptions">Add New Option</button>
        <div id="options4">
            
        </div>
        <br>
        <input id="optionList4" name="list4" type="text">
    </div>
    <br><br>
    <div class="form-group questionField" id="questionfiveDiv">
        <label for="nameTextField">Fifth Question:</label>
        <input type="text" class="form-control"
        id="nameTextField"
        placeholder="Enter your first question"
        name="ques5">
        <button type="button" id="five" class="addOptions">Add New Option</button>
        <div id="options5">
            
        </div>
        <input id="optionList5" name="list5" type="text">
        <br>
    </div>
    <button id="submitButton" class="btn btn-primary" type="submit">
        <i class="fas fa-edit"></i> Save Survey</button>
    
        <a href="/surveys/list" class="btn btn-warning">
            <i class="fas fa-undo"></i> Cancel</a>

</form>
<br><br><br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/content/scripts/list.js"></script>
