<h1>Welcome to SurveySite!</h1>
<h1>Get started by clicking any of the links below!</h1>

<h6>
    <%# if(displayName) { %>
        <a href="/surveys/create">Create a survey!</a>
        <%# } else{ %>
            <!-- <a href="/login">Create a survey!</a> -->
            <a href="/surveys/list">View available surveys!
        <%# } %>
</h6>



